body {
  background: #fafafa;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

input[type="search"] {
  height: 64px !important; /* or height of nav */
}

.no_padding {
  padding: 0;
  margin: 0;
}

.active a {
  border-bottom: 1px solid #fff;
}

hr {
  color: #e4e4e4;
}

/* CALCULO */
#divValorCalculado {
  font-size: 3em;
}
#divRetornoCalculo a {
  font-size: 3em;
  color: #424242;
}
#btnFormResultSave.active {
  color: #f44336;
}

/* SHARE */
#modalCompartilhar a {
  text-align: center;
  display: block;
  overflow: auto;
  cursor: pointer;
}
#modalCompartilhar a span {
  color: black;
}
#modalCompartilhar a i {
  font-size: 4em;
}
.color-facebook {
  color: #3b5998;
}
.color-whatsapp {
  color: #00e676;
}
